name: Build Test
on:
  push:
  pull_request:
jobs:
  Build-Firmware-And-Emu:
    permissions:
      statuses: write
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        submodules: recursive
    - name: Install more dependencies
      run: |
        sudo apt-get install -y \
          make \
          build-essential \
          libnewlib-dev \
          gcc-riscv64-unknown-elf \
          gdb-multiarch \
          gcc-mingw-w64-x86-64-win32
    - name: Build Firmware
      run: make -C firmware clean firmware.bin makeassets.exe
    - name: Build Emu
      run: make -C emu emu.exe
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v4
      with:
        name: emu.exe
        path: emu/emu.exe
      with:
        name: makeassets.exe
        path: firmware/makeassets.exe
      with:
        name: firmware.bin
        path: firmware/firmware.bin
